.inline-css{
    color:rgb(53, 53, 88);
    font-weight: bold;
}

.underline{
    text-decoration-line: underline;
    text-decoration-style: double;
}

.text-color-blue{
    color: rgb(71, 71, 105);
}

.thalang{
    background-color: black;
    font-family: 'Prompt', sans-serif;
    color:rgb(199, 199, 214);
}